<extend name="Public/base"/>
<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>文档列表(统计)</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
			<a class="btn" href="{:U('Slbbsadmin/Content/index')}">查看全部</a>
            <button class="btn ajax-post" target-form="ids" url="{:U("Article/setStatus",array("status"=>1))}">显 示</button>
			<button class="btn ajax-post" target-form="ids" url="{:U("Article/setStatus",array("status"=>0))}">隐 藏</button>
			<button class="btn ajax-post" target-form="ids" url="{:U("Article/move")}">移 动</button>
			<button class="btn ajax-post confirm" target-form="ids" url="{:U("Article/setStatus",array("status"=>-1))}">删 除</button>
			<button class="btn list_sort" url="{:U('sort',array('cate_id'=>$cate_id,'pid'=>I('pid',0)),'')}">排序</button>
		</div>

		<!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<div class="drop-down">
					<ul id="sub-sch-menu" class="nav-list hidden">
						<li><a href="javascript:;" value="">所有</a></li>
						<li><a href="javascript:;" value="1">正常</a></li>
						<li><a href="javascript:;" value="0">禁用</a></li>
						<li><a href="javascript:;" value="2">待审核</a></li>
					</ul>
				</div>
				<input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入标题文档">
				<a class="sch-btn" href="javascript:;" id="search" url=""><i class="btn-search"></i></a>
			</div>
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                	<div class="row">
                		<label>更新时间：</label>
                		<input type="text" id="time-start" name="time-start" class="text input-2x" value="" placeholder="起始时间" /> -
                		<input type="text" id="time-end" name="time-end" class="text input-2x" value="" placeholder="结束时间" />
                	</div>
                	<div class="row">
                		<label>创建者：</label>
                		<input type="text" name="nickname" class="text input-2x" value="" placeholder="请输入用户名">
                	</div>
                </div>
            </div>
		</div>
	</div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input class="check-all" type="checkbox">
                    </th>
                    <th>编号</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>楼主</th>
                    <th>状态</th>
                    <th>浏览</th>
                    <th>评论</th>
                    <th>操作</th>
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
                <volist name="topic_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                        <td>{$vo.id}</td>
                        <td><a href="{:U('Slbbsadmin/Content/topic_edit/id/'.$vo['id'].'')}">{$vo.title}
                        <eq name='vo.best' value='1'><font color='red'>[精华]</font></eq>
                        <eq name='vo.top' value='1'><font color='red'>[置顶]</font></eq>
                        </a>
                        </td>
                        <td><a href="{:U('Slbbsadmin/Content/index/forum/'.$vo['forum_id'].'')}">{$vo.name}</a></td>
                        <td><a href="{:U('Slbbsadmin/Content/index/user/'.$vo['user_id'].'')}">{$vo.username}</a></td>
                        <td>
                        <eq name="vo.hide" value='0'> 
                        <a href="{:U('Slbbsadmin/Topic/audit/id/'.$vo[id].'/value/1')}" title="点击审核帖子"><font color='red'>审核</font></a>
                        <else/>
                        <a href="{:U('Slbbsadmin/Topic/audit/id/'.$vo[id].'/value/0')}"  title="点击取消审核">正常</a>
                        </eq>
                        </td>
                        <td>{$vo.views}</td>
                        <td>{$vo.reply}</td>
                        <td>
                        <eq name="vo.top" value='0'> 
                        <a href="{:U('Slbbsadmin/Topic/top/id/'.$vo[id].'/value/1')}" title="点击置顶帖子">置顶</a>
                        <else/>
                        <a href="{:U('Slbbsadmin/Topic/top/id/'.$vo[id].'/value/0')}"  title="点击取消置顶">取消</a>
                        </eq> | 
                        <eq name="vo.best" value='0'> 
                        <a href="{:U('Slbbsadmin/Topic/best/id/'.$vo[id].'/value/1')}" title="点击加精帖子">加精</a>
                        <else/>
                        <a href="{:U('Slbbsadmin/Topic/best/id/'.$vo[id].'/value/0')}"  title="点击取消精华">取消</a>
                        </eq> | 
                        <a onclick="return confirm('您确定要删除吗？')" href="{:U('Slbbsadmin/Topic/del/id/'.$vo[id].'')}">删除</a></td>
                    </tr>
                </volist>
            </tbody>
        </table>
	</div>
	<script type='text/javascript'>
		function del(){
			alert('你确定要删除此条帖子？');
		}
	</script>
	<!-- 分页 -->
    <div class="page">
        <ul>{$page}</ul>
    </div>
</div>

</block>